--- 
- name: Update Packages, Install packages, Create and insert lines in a file
  hosts: all
  tasks:
  - name: Update all "yum" packages
    yum: 
      name: '*'
      state: latest
    when: ansible_distribution == "CentOS"

  - name: reboot
    reboot:
    
  - name: Update all "apt" packages
    yum: 
      name: '*'
      state: latest
    when: ansible_distribution == "Ubuntu"